body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
.tomato-red{
    color: tomato;
}
#flexible-container{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width:40%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.half-width img{
    padding-top: 10%;
    padding-bottom: 0%;
    width: 60%;
    height: auto;
}
#flexible-container-2{
    display: flex;
    margin-bottom: 20px;
}
.half-width-2{
    width: 40%;
    padding-right: 20px;
}
.half-width-2 img{
    width: 60%;
    height: auto;
    padding-left: 150px;
    padding-bottom: 0px;
}
.link-button{
    text-decoration: none; 
    font-size: x-small;
    background-image:linear-gradient(to right,orange,tomato);;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 40px;
}
.middle-banner{
    background-image: url(images/background-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.middle{
    text-align: center;
}
.size{
    font-size: x-small;
}
#flex-container-recipies{
    display: flex;
}
.third-width{
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 50px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 20px;
}
.height-width{
    width: 90%;
    height: auto;
    padding: 5%;
}
.inside-padding{
    padding:10px;
}
#footer-item{
    background-color: rgb(250, 201, 191);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
